.footer {
    background: #2e2f42;
    margin: 0 auto;
    padding: 0 15px;
    height: auto;
}
.container-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    padding: 100px 141px;
    width: 264px;
    height: 112px;
    max-width: 264px;
}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4f4fd;
}
.selected-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}