.header {
    margin: 0;
}
.container-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    width: 1128px;
    height: 72px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
    padding: 24px 76px 24px 0;
}
.selected-header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-left: 0;
    padding-right: 340px;
    margin: 0;
}

.nav-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link {
    text-decoration: none;
    color: #2e2f42
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts-li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
}
.contacts-link {
    text-decoration: none;
    font-style: normal;
    color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 344px;
    height: 72px;
    margin: 0;
    padding: 0;
}