.team {
    background: #f4f4fd;
    letter-spacing: 0.02em;
}
.container-team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 120px 15px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
    margin: 0;
}
.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0 15px;
    width: 1158px;
}
.team-list-item {
    background-color: #fff;
}
.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 32px 16px 0 16px;
}
.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 8px 16px 32px 16px;
}

